[submodule "Carrot/vendor/spdlog"]
	path = Carrot/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Carrot/vendor/GLFW"]
	path = Carrot/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Carrot/vendor/imgui"]
	path = Carrot/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Carrot/vendor/glm"]
	path = Carrot/vendor/glm
	url = https://github.com/g-truc/glm.git
